
$tablet-max-width: 1199px;
$mobile-max-width: 640px;

$accent-color: #F86800;
$secondary-accent-color: #476DF4;
$primary-color: #0F0F11;
$secondary-color: #89939A;
$icons-color: #B4BDC3;
$elements-color: #E2E6E9;
$bg-color: #FAFBFC;
$white-color: #FFFFFF;
$green-color: #27AE60;
$red-color: #EB5757;